[Unit]
Description=TPClash
After=network.target

[Service]
Type=simple
User=root
Restart=on-failure
ExecStart=/usr/local/bin/tpclash

RestartSec=10s
TimeoutStopSec=30s

[Install]
WantedBy=multi-user.target