[Unit]
Description=TPClash
After=network.target

[Service]
Type=simple
User=root
Restart=on-failure

ExecStart=/usr/bin/tpclash

[Install]
WantedBy=multi-user.target